@model IEnumerable<ti.Models.DbModels.SalaWynajmujacy>

@{
    ViewBag.Title = "Index";
}

<h2>Lista nowych rezerwacji</h2>

<p>
    @Html.ActionLink("Dodaj nową rezerwację", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sala.Numer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wynajmujacy.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPoczatkowa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodzinaPoczatkowa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodzinaKoncowa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.Numer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wynajmujacy.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPoczatkowa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodzinaPoczatkowa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodzinaKoncowa)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new {  idSali = item.SalaId, idWynajmujacego = item.WynajmujacyId , id = item.SalaWynajmujacyId }) |
            @Html.ActionLink("Detale", "Details", new { idSali = item.SalaId, idWynajmujacego = item.WynajmujacyId , id = item.SalaWynajmujacyId }) |
            @Html.ActionLink("Usuń", "Delete", new { idSali = item.SalaId, idWynajmujacego = item.WynajmujacyId, id = item.SalaWynajmujacyId })
        </td>
    </tr>
}

</table>
